/log.*
*~
/re-engine-PCRE2-*
/.gdbinit
/.bash_history
/*.patch
/META.yml
/MYMETA.json
/MYMETA.yml
/Makefile
/Makefile.old
/MANIFEST.files
*.bs
*.o
PCRE2.bs
PCRE2.c
PCRE2.o
/blib
/pm_to_blib
/nohup.out
/Debian_CPANTS.txt
